@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

html, body {
  @apply bg-white text-stone-900 antialiased;
  font-family: var(--font-sans);
}
